<div id="hero" class="container">
  <div class="inner">
  <h1>BE AN EXPERT IN XL</h1>
    <h2>
      Advanced Excel - for Anyone, Anywhere
    </h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4"><h3>Feature 1</h3>
      <p class="text-center"> Text here </p>
    </div>
    <div class="col-xs-6 col-md-4"><h3>Feature 2</h3>
      <p class="text-center"> Text here </p>
    </div>
    <div class="col-xs-6 col-md-4"><h3>Feature 3</h3>
      <p class="text-center"> Text here </p>
    </div>
  </div>
</div>

<div class="container">
<!-- sign up -->

	<div class="col-md-4">
         <div class="center-block">
          <p class="text-center">
            <%= link_to "Sign up", new_user_path() %>
          </p>
        </div> 
        <span class="glyphicon glyphicon-record"></span>
	</div>

</div>

<div class="container">
<p class="text-center><%= link_to image_tag("xl.png", class: "img-responsive", alt: "Excel", :height => 100), 'http://xlmodel.herokuapp.com/' %></p>
</div>