Hi <%= user.name %>,

Thanks for registering!

The website address to go back to the site is <a href="http://skilbjo-prod.herokuapp.com">skilbjo-prod.herokuapp.com</a>. You can access your profile here: <%= link_to "Profile",  current_user %>.

Thanks again for registering!

John

<% end %>