@import "bootstrap";
@import "flat-ui";

/* Main page */

body {
  background: #34495e;
  color: #F0F7FF;
}

.scroll-panel {
	padding-top: 78px;
}

img {
	max-width: 100%;
}

.navbar {
	border-radius: 0;
	position: fixed;
	width: 100%;
	padding: 0 20px;
}

.jumbotron { border-radius: 0 !important; padding: 0 !important; }

.jumbotron-midnight {
	background: #34495e;
	color: #F0F7FF;
	margin: 0;
}

.showcase-item {
	height: 220px;
	padding: 2px;
}

	.showcase-item .showcase-item-box {
		background: #7f8c8d;
		color: #fffff;
		padding: 40px;
		height: 100%;
		width: 100%;
		text-align: center;
	}

.bottom-menu {
	margin-top: 50px;
}

.text-centered { text-align: center; }
.no-margin { margin: 0; }

@media(max-width: 767px) {
	.jumbotron h1 {
		font-size: 31px;
	}
}


/* Forms */

.fortumo-div,
.stripe-div {
  display: none;
}